--extra-index-url https://download.pytorch.org/whl/cpu

# Core
transformers>=4.57.3
torch==2.8.0+cpu
torchvision==0.23.0+cpu
onnx>=1.20.0
onnxruntime>=1.23.1
onnxruntime-tools>=1.7.0

# Hugging Face Hub
huggingface_hub>=0.36.0
hf-xet>=1.2.0

# Utils
pillow>=12.0.0
requests>=2.32.5
tqdm>=4.67.1
accelerate>=1.12.0
urllib3>=2.6.0
filelock>=3.20.1
